#dashboard-middle-section {
  padding: 0 2rem 2rem;
  position: relative;
  top: 55px;
  margin-bottom: 150px;
  /* Smartphones (portrait and landscape) ----------- */
  @media only screen and (min-width: 320px) and (max-width: 575px) {
    & {
      margin-left: 0 !important;
      padding: 0 1rem 1rem;
      // width: 100%;
    }
  }
}
.greeting-card {
  width: 100%;
  background-color: #e8e8e8;

  .fNttcO {
    margin-top: 10px;
  }
}
.greeting-card {
  opacity: 0.9;
  position: fixed;
  background: inherit;
  border-radius: 5px;
  border: 1px solid #d8d8d8;
  z-index: 1;
}
.greeting-card .card-content .fjXYXV {
  background-color: #e8e8e8;
  height: 206px;
}

@media (min-width: 768px) {
  .greeting-card {
    min-width: 77%;
    width: auto;
  }
}
@media (max-width: 576px) {
  .greeting-card {
    width: 100%;
    margin: 0 0 0 12px;
  }
}
.dashboard-para-activities {
  margin-left: 1rem;
}
.lEEmu {
  svg {
    vertical-align: middle;
    width: 16px;
  }
}
.lEEmu:link {
  text-decoration: none;
}

.coming-soon-message {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  min-height: 500px;
  flex-direction: column;
  svg {
    fill: #9fa0a1;
  }
  p,
  h4 {
    color: #4b286d;
  }
}

.direction-arrow {
  float: right;
  top: 95px;
  position: relative;
  width: 30px;
  height: 30px;
  background: #4b286b;
  color: #fff;
  border-radius: 50%;
  left: 15px;
  z-index: 999;
  .lEEmu {
    &:focus {
      border: 0;
      margin: -2px 0px 0px;
    }
    &:active {
      background-color: transparent;
    }
    svg {
      width: 20px;
      margin-top: 3px;
      fill: #fff;
    }
  }
}

.dashboard-sidebar {
  min-width: 300px;
  height: 100vh;
  position: fixed;
  transition: 3ms ease-in linear;
  background: #f2eff4 0% 0% no-repeat padding-box;
  border: 1px solid #4b286d;
  border-radius: 10px 10px 0px 0px;
  opacity: 1;
  .mg10 {
    margin-top: 0px;
  }
  ul {
    padding: 0px;
    &.main-navbars {
      padding: 0;
      top: 120px;
      position: relative;
    }
    li {
      border-bottom: 0;
      color: #ffffff;
      padding: 0 0px 4px;
      display: flex;
      align-items: center;
      margin: 5px 0px 10px;
      &.icon-side {
        flex-direction: row;
        word-break: break-word;
        flex-grow: 0;
        flex-shrink: 0;
      }
      .sidebar-accordion {
        position: relative;
        right: -50px;
        top: 6px;
        svg {
          path {
            fill: #4b286b;
          }
        }
      }
      a {
        display: inline-flex;
        vertical-align: super;
        position: relative;
        left: 45px;
        text-decoration: none !important;
        font-size: 20px;
        font-family: Helvetica, Neue;
        letter-spacing: 0px;
        color: #f6f6f6;
        &:active {
          background-color: transparent;
          border-radius: 0;
          padding: 0;
          position: relative;
          left: 45px;
          margin: 0;
        }
        &:focus {
          border: 0;
          padding: 0;
          position: relative;
          left: 45px;
          border-radius: 0;
          outline: none;
          margin: 0;
        }
        p {
          color: #4b286b;
          min-width: 110px;
          // width: 173px;
        }
      }
    }
    .active {
      background: #4b286d 0% 0% no-repeat padding-box;
      color: #ffffff;
      .sidebar-accordion {
        position: relative;
        right: -63px;
        top: 2px;
        svg {
          path {
            fill: #ffffff;
          }
        }
      }
      a {
        text-decoration: none;
        display: inline-flex;
        vertical-align: super;
        position: relative;
        left: 45px;
        font-size: 20px;
        letter-spacing: 0px;
        color: #f6f6f6;
        p {
          color: #f6f6f6;
          min-width: 110px;

          // &:hover{
          //     font-size: 20px;
          // }
        }
      }
    }
  }
  .direction-arrow-left {
    float: right;
    top: 130px;
    position: absolute;
    right: -25px;
    z-index: 99;
    cursor: pointer;
    .lEEmu {
      &:focus {
        border: 0;
        margin: -2px 0px 0px;
      }
      &:active {
        background-color: transparent;
      }
      svg {
        width: 20px;
        margin-top: 3px;
        fill: #fff;
      }
    }
    @media only screen and (min-width: 320px) and (max-width: 575px) {
      & {
        display: none;
      }
    }
  }
  .YugUX {
    top: 35px;
  }
  .ccXEVB {
    border-top: 0;
    padding: 0;
  }
  .cNFAXh {
    border-bottom: 0;
    .hkEPEv {
      margin-left: 15px;
      margin-right: 20px;
    }
    .iYWjaZ {
      background-color: #4b286c;
      color: #ffffff;
      .aKunG {
        color: #ffffff;
        .hkEPEv {
          margin-left: 15px;
          margin-right: 20px;
          svg {
            fill: #ffffff;
          }
        }
      }
    }
  }
  .frNNUS {
    display: flex;
    font-weight: 500;
    color: #4b286c;
  }
  .icon-footer {
    position: absolute;
    bottom: 3rem;
    left: 3rem;
  }

  /* Smartphones (portrait and landscape) ----------- */
  @media only screen and (min-width: 320px) and (max-width: 575px) {
    & {
      display: none;
    }
  }
}
.dashboard-sidebar-cat {
  height: 980px;
}
.hide {
  display: none;
}
.dashboard-footer {
  background: #000;
  color: #fff;
  text-align: center;
  height: 40px;
  /* vertical-align: middle; */
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0px;
  width: 100%;
  @media only screen and (min-width: 320px) and (max-width: 575px) {
    & {
      width: 100%;
    }
  }
}
.direction-arrow-right {
  display: none;
  float: left;
  top: 130px;
  position: fixed;
  left: 87px;
  z-index: 99;
  cursor: pointer;
  .lEEmu {
    &:focus {
      border: 0;
      margin: -2px 0px 0px;
    }
    &:active {
      background-color: transparent;
    }
    svg {
      width: 20px;
      margin-top: 3px;
      fill: #fff;
    }
  }
  /* Smartphones (portrait and landscape) ----------- */
  @media only screen and (min-width: 320px) and (max-width: 575px) {
    & {
      display: none;
    }
  }
}
/**Not found*/
.container {
  width: auto;
  height: auto;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: absolute;
  margin-top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  overflow: hidden;
  padding: 15px;
}

/* fourzerofour */
.fourzerofour {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 300px;
  // background: url("");
  background: #4b286b;
  -webkit-background-clip: text;
  background-clip: text;
}
.fourzerofour h1,
.fourzerofour p {
  color: transparent;
  font-weight: bold;
}
.fourzerofour h1 {
  margin-bottom: 16px;
  font-size: 96px;
  &:hover {
    text-shadow: 0px 0px 5px #4b286b, 0px 0px 2px #4b286c, 0px 0px 5px #4b286d,
      0px 0px 10px #4b286f;
  }
}
.fourzerofour p {
  font-size: 28px;
  text-transform: uppercase;
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 575px) {
  .dashboard-sidebar {
    display: none !important;
    .direction-arrow-left {
      display: none;
    }

    /* Smartphones (landscape) ----------- */
    // @media only screen and (min-width : 321px) {
    //     & {
    //         min-width: '50px !important';
    //         width: "113px !important"
    //     }
    // }

    /* Smartphones (portrait) ----------- */
    // @media only screen and (max-width : 320px) {
    //         & {
    //             min-width: '50px !important';
    //             width: "113px !important"
    //         }
    // }
  }
}

.sidebar-item{
    // padding: .75em 1em;
    display: block;
    transition: background-color .15s;
    border-radius: 5px;
  }
//   .sidebar-item:hover{
//     background-color: rgba(255, 255, 255, .1);
//   }
  
  .sidebar-title{
    // display: flex;
    // font-size: 1.2em;
    justify-content: space-between;
    // color: #000;
  }
  .sidebar-title span i{
    display: inline-block;
    width: 1.5em;
  }
  .sidebar-title .toggle-btn{
    cursor: pointer;
    // transition: transform .3s;
  }
  .sidebar-item.open 
//   > .sidebar-title 
  .toggle-btn{
    transform: rotateZ(87deg);
    // padding-left: 20px;
    position: absolute;
  }
  .sidebar-content{
    padding-top: .25em;
    height: 0;
    overflow: hidden;
  }
  .sidebar-item.open > .sidebar-content{
    height: auto;
  }

 .sidebarmenu-c{
    padding-left: 2.2em;
 }

 .button-showMore{
    text-decoration: none;
    color:#4b286b;
    padding: 0px 40px ;
 }
 
 .color-purple{
    color:#4b286b;
 }

 .cursor-pointer{
    cursor: pointer;
 }
